# ephys for Python 3 with basic working environment
# Used by make_env.sh

# development utilities
black>=24.10.0
flake8==7.2.0
isort>=5.13.2
mypy==1.15.0
sphinx==8.2.3
sphinx-automodapi
sphinx-rtd-theme

pytest==8.3.5
gitpython
Cython==3.0.12


colorcet
colormaps==0.4.2

lmfit>=1.2

matplotlib>=3.10.0
matplotlib-scalebar>=0.8.1
MetaArray==2.1.1

numpy==2.2.4

scipy>=1.14.0
seaborn
PyQt6
pyqt6-sip
pyqt5
pyqtgraph==0.13.7

seaborn>=0.13.2
tifffile==2024.06.18


